@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    color: #fff;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {

    font-weight: 700;
    font-size: 20px;

}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    font-size: 25px;
    display: inline;
    margin-left: 50px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .shop-cart-button {
    float: right;
    font-size: 30px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
    color: #dc3d3d;
    transform: scale(1.25);
}

header .shop-cart .summa {
    float: left;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;

}

header .shop-cart {
    position: absolute;
    top: 45px;
    right: 0px;
    width: 600px;
    padding: 20px;
    padding-bottom: 0;
    background: #a19b9b;
    -webkit-box-shadow: 0px 5px 31px 14px rgba(122, 0, 206, 0.2) inset;
    -moz-box-shadow: 0px 5px 31px 14px rgba(122, 0, 206, 0.2) inset;
    box-shadow: 0px 5px 31px 14px rgba(122, 0, 206, 0.2) inset;
    -webkit-box-shadow: 0px 5px 24px 33px rgba(150, 149, 150, 0.2);
    -moz-box-shadow: 0px 5px 24px 33px rgba(150, 149, 150, 0.2);
    box-shadow: 0px 5px 24px 33px rgba(150, 149, 150, 0.2);
    z-index: 1000000;
    border-radius: 10px 10px 10px 10px;
}

header .shop-cart .empty h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    background: #3c3c3c;
    border-radius: 10px 10px 10px 10px;

}

header .shop-cart .item img {
    width: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    transition: transform 500ms ease;
    cursor: pointer;

}

header .shop-cart .item img:hover {
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    transform: scale(1.5);
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item b {
    color: #00ff0d;
    font-weight: 700;
    position: absolute;
    left: 500px;
}

header .shop-cart .item .delete-icon {
    float: right;
    right: 15.5px;
    position: relative;
    top: auto;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: #dc3d3d;
    transform: scale(1.65);
}

header .presentation {
    margin: 50px 0;
    background: #fff;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 10px 10px 10px 10px;

}

.video {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 5px 22px 23px rgba(163, 12, 172, 0.2);
    -moz-box-shadow: 0px 5px 22px 23px rgba(163, 12, 172, 0.2);
    box-shadow: 0px 5px 22px 23px rgba(163, 12, 172, 0.2);
}

header .bottom {
    top: 732px;
    background: #685f5f;
    width: 100%;
    height: 65px;
    position: absolute;
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
}

header .bottom:after {
    content: 'Отличных покупок ↝';
    position: absolute;
    left: 20px;
    font-size: 40px;
    font-weight: 700;


}

header .bottom::before {
    content: 'Скоро скидки не пропустите, а также новые игры ＾• ω •＾';
    position: absolute;
    left: 470px;
    top: 15px;
    font-size: 25px;
    font-weight: 400;
}

header .presentation:after {
    content: 'Лучшие игры для вашего дома';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 700;
    color: #7FFFD4;
}

header .presentation:before {
    content: 'По низким ценам';
    position: absolute;
    top: 210px;
    left: 50px;
    width: 300px;
    font-size: 25px;
    font-weight: 400;
    color: #7FFFD4;
}

.categories div {
    display: inline-block;
    background: #3c3c3c;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 10%;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}
.categories div:hover{
    border-color: silver;
    transform: scale(1.1);
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    top: 125px;
    width: 30%;
    margin-bottom: 50px;
    background: #3c3c3c;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

main .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;

}

main .item img:hover {
    transform: scale(1.05);
}

main h2,
main p,
main b,
main t {
    margin: 10px 20px;
    color: #ddd9d9
}

main b {
    color: #5fa36a;
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 700;
    transition: transform 500ms ease;
}

main .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}

footer {

    background: #404863;
    width: 250px;
    background-position: center;
    text-align: center;
    margin: 100px 520px;
    border-radius: 10px 10px 10px 10px;
}